/* lista.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00082e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    padding-bottom: 0%;
}

#botao {
    text-align: center;
    margin-top: 20px;
}

#botao a {
    background-color:#00082e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#botao a:hover {
    background-color: #01105a;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cadastro p {
    margin: 10px 0;
}

.cadastro p strong {
    font-weight: bold;
    margin-right: 10px;
}
